<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proposal Email</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <img th:src="@{images/logo.png}" alt="logo" />
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">New Proposal Received</h5>
                <!--/*@thymesVar id="username" type=""*/-->
                <h6 class="card-subtitle"  th:text="'Hello ' + ${username}+','"></h6>
                <p class="card-text">
                    You just received a new proposal for the project 
                    <!--/*@thymesVar id="project_name" type=""*/-->
                    <span th:text="${project_name}"></span>, 
                    sent by <!--/*@thymesVar id="freelancer_name" type=""*/-->
                    <span th:text="${freelancer_name}"></span>.
                </p>
                <!--/*@thymesVar id="url" type=""*/-->
                <a th:href="${url}" class="btn btn-primary">Card link</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>